{% extends 'base.html'%}

{% block content%}
<br>

<style>
    .color{
        background-color: transparent;
        color: #ededed;
    }
</style>
<h1>Hellow world</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <ul class="list-group m-center ">
                <li class="list-group-item color">hola</li>
                <li class="list-group-item color">hola</li>
                <li class="list-group-item color">hola</li>
                <li class="list-group-item color">hola</li>
              </ul>
        </div>
    </div>
    <br>
    <h1>Hellow world</h1>
    <div class="row">
        <div class="col-6">
            <ul class="list-group m-center ">
                <li class="list-group-item color">hola</li>
                <li class="list-group-item color">hola</li>
                <li class="list-group-item color">hola</li>
                <li class="list-group-item color">hola</li>
              </ul>
        </div>
    </div>
<br>
<h1>Hellow world</h1>
    <div class="row">
        <div class="col-6">
            <ul class="list-group m-center ">
                <li class="list-group-item color">hola</li>
                <li class="list-group-item color">hola</li>
                <li class="list-group-item color">hola</li>
                <li class="list-group-item color">hola</li>
              </ul>
        </div>
    </div>
</div>
{%endblock%}